.root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 640px;
  gap: 12px;
  padding: 12px;
  background-color: aliceblue;
}

.calendar {
  flex: 1 1 320px;
  max-width: 320px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.days > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.withNote {
  position: relative;
}

.withNote::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: blue;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.editor {
  flex: 1;
  min-width: 280px;
}

.editor textarea {
  display: block;
  width: 100%;
}
